* {
  margin: 0;
  padding: 0;
}
footer {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.cube {
  height: 220px;
  width: 220px;
  background: linear-gradient(45deg, rgba(1, 1, 187, 0.47), rgb(3, 4, 47));
  box-shadow: 0 0 0 0 rgba(1, 1, 187, 0.47);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-duration: 8s;
}

.container {
  height: 160px;
  width: 160px;
  background: linear-gradient(
    45deg,
    rgba(157, 2, 214, 0.32),
    rgba(192, 160, 2, 0.525)
  );
  box-shadow: 0 0 0 0 rgba(223, 168, 4, 0.7);
  animation: battement 0.5s infinite cubic-bezier(0.66, 0, 0, 1);
  transform: rotate(45deg);
  border-radius: 10px;
}

.log {
  height: 100%;
  margin-bottom: -20%;
}
.mot {
  color: rgb(191, 161, 13);
  font-family: Brush Script MT;
  font-size: 50px;
}

.container-fluid {
  height: 100%;
  width: 100%;
  transform: rotate(-45deg);
}

/*animation pour le battement du logo*/
@keyframes battement {
  to {
    box-shadow: 0 0 0 4px rgba(207, 122, 4, 0.438);
  }
}
/*Propriété pour l'animation qui fait apparaitre*/
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  .cube {
    height: 350px;
    width: 350px;
  }

  .container {
    height: 250px;
    width: 250px;
  }

  .log {
    height: 100%;
    margin-bottom: -20%;
  }
  .mot {
    color: rgb(191, 161, 13);
    font-family: Brush Script MT;
    font-size: 80px;
  }
}
